[submodule "src/ros2_ws/src/ROS-TCP-Endpoint"]
	path = src/ros2_ws/src/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint/tree/main-ros2
[submodule "src/aprilTagUnityPlugin/common/apriltag"]
	path = src/aprilTagUnityPlugin/common/apriltag
	url = https://github.com/AprilRobotics/apriltag.git
